body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 139, 0.979), rgb(45, 187, 68));
}
li {
  list-style: none;
}
.container {
  background-color: rgba(0, 0, 255, 0.856);
  padding: 28px;
  width: 85%;
  max-width: 600px;
  text-align: center;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
input {
  height: 40px;
  width: 60%;

  border: none;
  padding: 4px 10px;
  outline: none;
  border-radius: 5px;
  font-size: 22px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 10px 0;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.user-cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.user-cont img {
  margin-right: 20px;
}
.user-info {
  margin: 20px 0;
}
.user-cont h2 {
  font-size: 30px;
  font-family: cursive;
}
.user-info {
  font-size: 22px;
  font-family: monospace;
}

.user-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}
.user-links ul li {
  margin-right: 0px;
  font-size: 22px;
}
.user-links ul li strong {
  font-family: cursive;
  font-size: 26px;
}
.main-cont {
  display: none;
  font-size: 30px;
  font-family: cursive;
}
@media (max-width: 650px) {
  ::placeholder {
    font-size: 16px;
    letter-spacing: 0;
  }
  .user-cont .username {
    font-size: 18px;
  }
  .container {
    max-width: 300px;
  }
  .user-links ul {
    flex-wrap: wrap;
  }
}
